
@{
    ViewData["Title"] = "Logistic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h1>Logistic</h1>
</header>
<content>
    <div class="left-panel panel"><p>Left</p></div>
    <div class="rigth-panel panel"><p>Rigth</p></div>
</content>
<result>
</result>


<script src="~/js/Logistic.js"></script>