
@{
    ViewData["Title"] = "Logistic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h1>Logistic</h1>
</header>
<content>
    <div id="pFact" class="panel"><p>План-Факт</p></div>
    <div id="fact" class="panel"><p>Факт</p></div>
</content>
<result>
</result>


<script src="~/js/Logistic.js" type="module"></script>